* {
	font-family: Lucida Sans, sans-serif;
	padding: 0px;
	margin: 0px;

}
body {
	background-color: #333;
	text-align: center;
	padding: 0px 0px;
	background-image: url(../images/back.gif);
	background-repeat: repeat-x;
}
a {
	color: #c30;
	#color: #ff9;
}
p {
	font-size: 14px;
	line-height: 18px;
}
li {
	font-size: 14px;
	line-height: 18px;
}
h1 {
	text-align: center;
	color: #bbb;
	margin: 12px 40px 4px 0px;
	line-height: 65px;
	font-size: 36px;

}
h1 i {
	color: #fff;
	font-style: normal;

}	
h2 {
	margin: 0px 0px 20px;
	font-size: 24px;
	font-weight: normal;
}
h3 {
	margin: 25px 0px 5px;
	color: #666;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
ul {
}
ul li {
	margin-left: 30px;
}
pre {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-size: 12px;
	background-color: #000;
	border: 1px solid #000;
	color: #00ff00;
	padding: 10px;
}

#header, 
#container1 {
	text-align: left;
	margin: 0px auto;
	width: 950px;

}
#header {
	margin: 25px auto 35px;
	text-align: center;
}
#header img {
	margin: 10px 0px 15px;
}
#header .sub {
	margin: 20px 0px 10px px;
	color: #777;
	font-size: 22px;
}
#container {
	text-align: center;
	color: #eee;
	clear: both;
}
#container1 {
	border: 1px solid #161616;
	border: 1px solid #2c2c2c;
	background-color: #222;
	padding: 15px;
}
.pod {
	background-color: #111;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	border: 1px solid #000;
	padding: 20px;
}
#toc {
	float: right;
	padding: 20px;
	width: 188px;

}
#toc ul li {
	font-size: 14px;
	line-height: 16px;
	margin: 0px 0px 5px 15px;
	color: #333;
}
#content {
	margin-right: 240px;
}

#footer {
	color: #ccc;
	font-size: 12px;
	margin: 20px 0px;
}
